body {
    background-color: #121212;
    color: #fff;
}

/* Basic reveal animation */
.reveal {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-out;
    will-change: opacity, transform;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0px);
}

/* Simple slider animation*/
.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}
